<h1>Ingredients for <%= @recipe.title %></h1>

<form class="form-group" action="/ingredients/" method="post">
  <label for="ingredient">Add Ingredients</label>
  <input type="text" name="ingredient" class="form-control">
</form>


<h3>Your Ingredients</h3>

<% if @ingredients.any? %>
  <% @ingredients.each do |ingredient| %>
  <ul>
    <li><a href="/ingredients/ <%=ingredient.id %>"><%=ingredient.name %></a></li>
  </ul>
  <% end %>
<% else %>
  <p>There are no ingredients yet.</p>
<% end %>
